# Global configuration
NODE_ENV="development"
PORT="3000"

# Web origins allowed
CORS_ORIGIN="https://budget.mael-bertocchi.fr"

# Database configuration
DATABASE_URL="postgresql://username:password@localhost:5432/my_budget"

# Single-user identity
IDENTITY_CODE="000000"

# JWT configuration
JWT_SECRET="change-me-to-a-long-random-string-at-least-32-chars"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="30d"
