# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
.DS_Store

# Version control
.git
.gitignore

# Docker
.docker/Dockerfile
.dockerignore
